@tailwind base;

@tailwind components;

@tailwind utilities;

#wrapper {
  padding: 0 2em 0 2em;
}

.hero {
  margin-bottom: 2em;
  padding-top: 3em;
}

html, main * {
  font-size: medium;
}

main {
  margin-bottom: 2em;
}

.display-img a {
  font-size: smaller;
  font-style: italic;
  padding: 0;
}

.display-img img {
  margin: 0;
}

.footer {
  padding-top: 0.5em;
}

.prose {
  line-height: 1.25;
  padding-bottom: 2em;
}

.prose p.question {
  font-style: italic;
}

.prose {
    max-width: max-content;
}

/* attempt to be responive */

@media screen and (min-width: 640px) {

  html * {
    /* color: red; */
  }

  main {
    margin-bottom: 0;
  }

  #img1 {
    display: block;
  }

  #img2 {
    display:none
  }

  .display-img {

  }

  .first-para {
  }
}


@media screen and (min-width: 768px) {

  #img1 {
    display:none
  }

  #img2 {
    display:block
  }

  .display-img {
    margin-top: 6.5em;
  }

  .first-para {
  }
}
